:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bgColor: rgb(18, 22, 19);
  --bgColor1: rgb(32, 36, 37);
  --borderColor: rgb(63, 71, 73);
  --borderColor1: rgb(101, 115, 119);
  --fgColor: #fff;
  --fgColor1: rgb(237, 237, 237);

  color: var(--fgColor);
  background-color: var(--bgColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  padding: 1em 1.2em;
  font-family: "Menlo", "Inconsolata", monospace;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  background: rgba(45, 240, 159, 0.2);
  color: rgba(45, 240, 159, 1);
  border: none;
  transition: background 0.25s ease;
}
.btn:hover {
  background: rgba(45, 240, 159, 0.4);
}
.btn:disabled {
  cursor: not-allowed;
  background: rgba(64, 221, 155, 0.4);
  color: rgba(77, 202, 150, 0.734);
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
